<p>
Respected Sir/Madam,
</p>

<p>We have received your interest for the EOI floated on our website. In continuation to the same, we seek information from your end which can be filled in the link attached.</p>

<p><u>To access the link , kindly use the following Login ID and password as mentioned</u></p>

<ol>
  <li>Link to access the form : </li>
  <li>Email ID : ndchaudhari@godeepak.com </li>
  <li>Password:  1linkwok@</li>
</ol>

<p>Kindly refrain from sharing the login details. In case of issues with login kindly contact us at :
  khushboo.shah@godeepak.com / kgpatel@godeepak.com </p>


<p><b>The link is valid till 31st March, 2022</b></p>

