<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>EOI Questionaire</title>
  <link rel="icon" href="favicon.png" type="image/png" sizes="16x16">
  <meta name="viewport" content="initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/thankyou.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>

  <div class="container">
    <div class="row">
      
      <div class="col-lg-6 offset-lg-6">
                <div class="logouttext">
                    <a href="<%= destroy_user_session_path %>" data-method="delete">
                    Logout <i class="fa fa-sign-out"></i>
                    </a>
                </div>
    </div> 


  <div class="container">
    <div class="col-lg-10 offset-lg-1">
      <div class="thankyoubox">
        <div class="row">
          <div class="col-lg-6">
            <div class="text-center">
              <%= image_tag('success-icon.png' ,:class =>"img-fluid successicon")%>
              <h3>Thank You!</h3>
              <h4>Your data has been submitted successfully...</h4>              
            </div>
          </div>
          <div class="col-lg-6">
            <div>
            
              <%= image_tag('submitted-data.png', :class => "img-fluid" )%>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>


</body>

</html>