 <table class="table table-bordered"
    <style="background-color: #ffffff; margin-top: 10px; border: 1px solid #cccccc;">
        <thead>
            <tr>
                <th>User</th>
                <th> Excel Report</th>
                                
            </tr>
        </thead>
        <tbody>
            <% User.all.each do |user| %>
                <tr>
                    <td><%= user.email %></td>
                    <td><%= link_to "Download Excel", report_path(format: :xlsx, user_id: user.id), class: "btn btn-primary" %></td>
                </tr>
            <% end %>
        </tbody>
</table>