<div class="row">
            <div class="col-lg-6">
                <div><%= image_tag('logo.png') %></div>
            </div>
            <div class="col-lg-6">
                <div class="logouttext">
                    <a href="<%= destroy_user_session_path %>" data-method="delete">
                    Logout <i class="fa fa-sign-out"></i>
                    </a>
                </div>

            </div>
</div>